In [19]:
import numpy as np
import pandas as pd

# Question 1

In [20]:
np.__version__

'1.15.1'

# Getting the data

In [21]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'
df=pd.read_csv(data)
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

# Question 2

In [22]:
df.shape[0]

11914

# Question 3

In [23]:
df.Make.value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

# Question 4

In [24]:
df[df.Make == 'Audi']['Model'].nunique()

34

# Question 5

In [25]:
np.sum(df.isnull().sum() > 0 )

5

# Question 6

In [26]:
median_v = df['Engine Cylinders'].mean()
median_v

5.628828677213059

In [27]:
df['Engine Cylinders'].fillna(median_v).mean()

5.628828677213056

In [28]:
df['Engine Cylinders'].fillna(0).mean()

5.614655027698506

# Question 7

In [29]:
df_a = df[df.Make == "Lotus"]

In [30]:
df_a = df_a[["Engine HP", "Engine Cylinders"]]
df_a = df_a.drop_duplicates()
df_a

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [13]:
X = df_a.values

In [14]:
XTX  = X.T.dot(X)

In [15]:
XTX_inv = np.linalg.inv(XTX)

In [16]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [17]:
w = XTX_inv.dot(X.T).dot(y)

In [18]:
w[0]

4.594944810094553